*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/.idea/sonarlint
.externalNativeBuild
.cxx
local.properties
Reservation_with_stopwatch/.idea/sonarlint/securityhotspotstore/f/4/f4a01d6a4fcb971362ec00a83903fd3902f52164
Reservation_with_stopwatch/app/src/main/res/values/colors.xml
Reservation_with_stopwatch/app/src/main/java/com/example/reservation_with_stopwatch/MainActivity.kt
Reservation_with_stopwatch/.idea/sonarlint/securityhotspotstore/index.pb
Reservation_with_stopwatch/.idea/sonarlint/securityhotspotstore/f/0/f07866736216be0ee2aba49e392191aeae700a35
Reservation_with_stopwatch/.idea/sonarlint/securityhotspotstore/2/a/2a45a911a8f1836b0b6c5b758962572012d8f8c3
Reservation_with_stopwatch/.idea/sonarlint/issuestore/index.pb
Reservation_with_stopwatch/.idea/sonarlint/issuestore/f/4/f4a01d6a4fcb971362ec00a83903fd3902f52164
Reservation_with_stopwatch/.idea/sonarlint/issuestore/f/0/f07866736216be0ee2aba49e392191aeae700a35
Reservation_with_stopwatch/.idea/sonarlint/issuestore/2/a/2a45a911a8f1836b0b6c5b758962572012d8f8c3
.idea/gradle.xml
